name: Daily

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Target environment"
        required: true
        default: "test"
        type: choice
        options:
          - test
          - dev
          - prod
      test_branch:
         description: "Branch to run tests on"
         required: true
         default: "main"
         type: string


jobs:
    Daily:
      runs-on: self-hosted
      steps:
        - name: Checkout Test Repository
          uses: actions/checkout@v4
          with:
            repository: pablolf14/github_actions_test
            ref: ${{ github.event.inputs.test_branch }}
            token: ${{ secrets.PAT_TOKEN }}
            path: github_actions_test

        - name: Run Daily Tests
          run: python ./github_actions_test/.github/workflows/utils/generate_a_file.py ${{ github.event.inputs.test_branch }} Test_Results 
            

        - name: Upload logs
          uses: actions/upload-artifact@v4
          if: always()
          with:
            name: TestResults-${{ github.ref_name }}-${{ runner.name }}-${{ github.run_number }}
            path: ./github_actions_test/Test_Results/


